
    #map {
        overflow: visible;
        margin: auto;

        position:relative;  
        width: 97%;
        height: 800px;
        padding-bottom: 30px;
        padding: auto;
      }
      
      html,
      body {
        height: 50%;
        margin: 0;
        padding: 0;
      }

      input {
        width: 100%;
      }

      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-weight: normal;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }